<%= form_with(model: classement) do |form| %>
  <% if classement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(classement.errors.count, "error") %> prohibited this classement from being saved:</h2>

      <ul>
        <% classement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>
  <%=form.fields_for :hits do |f|%>
    <div class="card">
                                                <div>
                                                      <%= f.label :image, style: "display: block" %>
                                                          <%= f.text_field :image %>
                                                            </div>


                                <%=f.fields_for :song do |ff|%>
                                  <div>
                                        <%= ff.label :myartist, style: "display: block" %>
                                            <%= ff.text_field :myartist %>
                                              </div>
                    <div>
                          <%= ff.label :mytitle, style: "display: block" %>
                              <%= ff.text_field :mytitle %>
                                </div>


                                                          <%end%>

                                                              <div>
                                                                        <%= f.hidden_field :myorder %>
                                                                          </div>
                                                                          </div>
  <%end%>

  <div>
    <%= form.submit %>
  </div>
<% end %>
