<a href="" class="close"><span>X
      </span></a>
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name),html:{id: "session_new_user"}) do |f| %>
  <div class="field">
    <%= f.label :username,id:"label_session_username" %><br />
    <%= f.email_field :username, autofocus: true, autocomplete: "username",id:"session_username" %>
  </div>

  <div class="field">
    <%= f.label :password,id:"label_session_password" %><br />
    <%= f.password_field :password, autocomplete: "current-password",id:"session_password" %>
  </div>


  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
 <%=
           link_to("S'inscrire", new_registration_path(resource_name), class: "lien-sinscrire")
                               %>

