<h2 class="wp-block-heading"><%=hit_counter + 1%> - <%=hit.artist%> - <%=hit.title%></h2>

  <div class="mydiv"></div>
<div class="mypichit ">

<img decoding="async" loading="lazy" src="<%=hit.image%>" alt="" class="wp-image-28935 parallelogram" >

<span><%=hit_counter + 1%></span>
</div>
  <div class="mydiv"></div>
